In [1]:
import MetaTrader5 as mt5

In [2]:
login_mt5 = 1051651055
mdp_mt5 = 'WTZRFSRT6J'
server = 'FTMO-Demo'
mt5.initialize()
mt5.login(login_mt5, mdp_mt5, server)

True

In [16]:
ticker = 'EURUSD'
order = {
    
    "action" : mt5.TRADE_ACTION_PENDING,
    "symbol" : ticker,
    "volume" : 0.10,
    "type" : mt5.ORDER_TYPE_BUY_LIMIT,
    "price" : mt5.symbol_info_tick(ticker).bid
}

mt5.order_send(order)

OrderSendResult(retcode=10009, deal=0, order=82473929, volume=0.1, price=0.0, bid=0.0, ask=0.0, comment='Request executed', request_id=1718948829, retcode_external=0, request=TradeRequest(action=5, magic=0, order=0, symbol='EURUSD', volume=0.1, price=1.07744, stoplimit=0.0, sl=0.0, tp=0.0, deviation=0, type=2, type_filling=0, type_time=0, expiration=0, comment='', position=0, position_by=0))

In [3]:
from datetime import datetime 
start = datetime.now()
end = datetime.now().replace(hour=start.hour+4)
(end - start)

datetime.timedelta(seconds=14400)

In [4]:
datetime.utcnow()

datetime.datetime(2023, 5, 24, 12, 26, 47, 449012)

In [32]:
from datetime import timedelta
timedelta(hours=1).seconds / 60

60.0

In [ ]:
datetime

In [39]:
orders = mt5.orders_get()
print(orders)
    
for order in orders:
    print(mt5.order_send({
        "action": mt5.TRADE_ACTION_REMOVE,
        "order": order.ticket
        }))

(TradeOrder(ticket=82530153, time_setup=1684863509, time_setup_msc=1684863509491, time_done=0, time_done_msc=0, time_expiration=0, type=2, type_time=0, type_filling=2, state=1, magic=0, position_id=0, position_by_id=0, reason=0, volume_initial=0.16, volume_current=0.16, price_open=91.7, sl=0.0, tp=0.0, price_current=91.78, price_stoplimit=0.0, symbol='AUDJPY', comment='', external_id=''),)
OrderSendResult(retcode=10009, deal=0, order=82530153, volume=0.0, price=0.0, bid=0.0, ask=0.0, comment='Request executed', request_id=1718948878, retcode_external=0, request=TradeRequest(action=8, magic=0, order=82530153, symbol='', volume=0.0, price=0.0, stoplimit=0.0, sl=0.0, tp=0.0, deviation=0, type=0, type_filling=0, type_time=0, expiration=0, comment='', position=0, position_by=0))

In [7]:
ticker = 'EURUSD'
order = {
    
    "action" : mt5.TRADE_ACTION_DEAL,
    "symbol" : ticker,
    "volume" : 0.10,
    "type" : mt5.ORDER_TYPE_BUY,
    "price" : mt5.symbol_info_tick(ticker).ask
    
}

mt5.order_send(order)

OrderSendResult(retcode=10009, deal=78632442, order=82773031, volume=0.1, price=1.07862, bid=1.07859, ask=1.07862, comment='Request executed', request_id=243347086, retcode_external=0, request=TradeRequest(action=1, magic=0, order=0, symbol='EURUSD', volume=0.1, price=1.07862, stoplimit=0.0, sl=0.0, tp=0.0, deviation=0, type=0, type_filling=0, type_time=0, expiration=0, comment='', position=0, position_by=0))

In [12]:
import pandas as pd
import numpy as np
datas = []

data = pd.DataFrame(mt5.copy_rates_from(ticker, mt5.TIMEFRAME_M1, datetime.now(), 900))
data['time'] = pd.to_datetime(data['time'], unit='s')
data['symbol'] = np.full(shape=len(data), fill_value=ticker)
data = data.drop(['real_volume'], axis=1)
datas.append(data)

data = pd.concat(datas, axis=0)
data = data.set_index(['symbol', 'time'])

data

                               open     high      low    close  tick_volume  \
symbol time
EURUSD 2023-05-23 21:10:00  1.07769  1.07772  1.07766  1.07766           39
       2023-05-23 21:11:00  1.07765  1.07778  1.07765  1.07777           26
       2023-05-23 21:12:00  1.07778  1.07791  1.07777  1.07791           25
       2023-05-23 21:13:00  1.07791  1.07796  1.07789  1.07796            9
       2023-05-23 21:14:00  1.07798  1.07799  1.07795  1.07798           21
...                             ...      ...      ...      ...          ...
       2023-05-24 12:42:00  1.07794  1.07798  1.07785  1.07789           37
       2023-05-24 12:43:00  1.07784  1.07791  1.07772  1.07773           63
       2023-05-24 12:44:00  1.07772  1.07772  1.07755  1.07766           77
       2023-05-24 12:45:00  1.07765  1.07773  1.07761  1.07773           60
       2023-05-24 12:46:00  1.07772  1.07780  1.07765  1.07767           52

                            spread
symbol time
EURUSD 2023-05-23 21:10:00       2
       2023-05-23 21:11:00       2
       2023-05-23 21:12:00       2
       2023-05-23 21:13:00       2
       2023-05-23 21:14:00       2
...                            ...
       2023-05-24 12:42:00       2
       2023-05-24 12:43:00       2
       2023-05-24 12:44:00       2
       2023-05-24 12:45:00       2
       2023-05-24 12:46:00       2

[900 rows x 6 columns]

In [2]:
data = data.groupby(level=0, group_keys=False).apply(lambda x: x.close.pct_change())
data['returns'] = data.groupby(level=0, group_keys=False).apply(lambda x: np.log(x.close/x.close.shift(1)))

'a'

In [ ]:
data.loc[ticker]['returns']

In [13]:
data.loc['EURUSD'].index

DatetimeIndex(['2023-05-23 21:10:00', '2023-05-23 21:11:00',
               '2023-05-23 21:12:00', '2023-05-23 21:13:00',
               '2023-05-23 21:14:00', '2023-05-23 21:15:00',
               '2023-05-23 21:16:00', '2023-05-23 21:17:00',
               '2023-05-23 21:18:00', '2023-05-23 21:19:00',
               ...
               '2023-05-24 12:37:00', '2023-05-24 12:38:00',
               '2023-05-24 12:39:00', '2023-05-24 12:40:00',
               '2023-05-24 12:41:00', '2023-05-24 12:42:00',
               '2023-05-24 12:43:00', '2023-05-24 12:44:00',
               '2023-05-24 12:45:00', '2023-05-24 12:46:00'],
              dtype='datetime64[ns]', name='time', length=900, freq=None)

In [72]:
import math
import pandas as pd
from datetime import timedelta
def sign(x):
    return int(math.copysign(1, x))

time_limit = 10
volumes = {}
tickets = {}
all_preds = pd.DataFrame([-0.011], index=['EURUSD'], columns=['preds'])
positions = mt5.positions_get()
for position in positions:
    volumes[position.symbol] = position.volume
    tickets[position.symbol] = position.ticket
pos_time = {
    'EURUSD': {
        'Time' : timedelta(minutes=19),
        'PosType' : 1
    }
}
for ticker in pos_time.keys():
    if (pos_time[ticker]['Time'].seconds / 60 > time_limit) and (pos_time[ticker]['PosType'] != sign(all_preds.loc[ticker])):
        print('We are closing order')
        order = {
            "action": mt5.TRADE_ACTION_DEAL,
            "symbol": ticker,
            "volume": volumes[ticker],
            "type": mt5.ORDER_TYPE_SELL if pos_time[ticker]['PosType'] == 1 else mt5.ORDER_TYPE_BUY,
            "price": mt5.symbol_info_tick(ticker).bid if pos_time[ticker]['PosType'] == 1 else mt5.symbol_info_tick(ticker).ask,
            "position": tickets[ticker]
        }

        print(mt5.order_send(order))

We are closing order
OrderSendResult(retcode=10009, deal=78448510, order=82574885, volume=0.1, price=1.07721, bid=1.07721, ask=1.07723, comment='Request executed', request_id=1718949018, retcode_external=0, request=TradeRequest(action=1, magic=0, order=0, symbol='EURUSD', volume=0.1, price=1.07721, stoplimit=0.0, sl=0.0, tp=0.0, deviation=0, type=1, type_filling=0, type_time=0, expiration=0, comment='', position=82574746, position_by=0))

In [3]:
from forex_python.converter import CurrencyRates
cr = CurrencyRates()
cr.convert('USD', 'JPY', 10000)

1383697.261287935

In [19]:
CurrencyRates